<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	 <h1 layout:fragment="header">DHX. DHS-i makett. </h1>
	 <section layout:fragment="content">
	 	<h2>Dokumendi saatmine. Juhul kui dokumendi fail ei ole valitud, kasutatakse standartne(valiidne kapsel) fail.</h2>
	    <form action="sendDocument" method="POST" enctype="multipart/form-data">
	    	<input type="text" id="representativeMemberCode" name="representativeMemberCode"/>
	    	<input type="file" name="file" />
	    	<input type="submit" value="upload" />
	    </form>
    </section>
</body>
</html>